{% block _order_orderLines_entry_row  %}
    {% set product = value.product %}
    <tr>
        <td>
            <a href="#">
                <img src="{{ product.cover }}" alt="Image" width="83" height="100">
            </a>
        </td>
        <td><a href="#">{{ product.label }}</a></td>
        <td>${{ product.unitPrice|number_format(2, ',', ' ') }}</td>
        <td>
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </td>
        {#<td>${{ form.vars.value.calculateTotoal | number_format(2, ',', ' ') }}</td>#}
        <td>${{ value.totalOrderLine }}</td>
        <td>
            <button type="button" class="delete_row"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
{% endblock %}
{% block _order_orderLines_entry_widget %}
    {#    {{ dump() }}#}
    <div class="qty">
        <button type="button" class="btn-minus"><i class="fa fa-minus"></i></button>
        {{ form_widget(form.quantity) }}
        <button class="btn-plus" type="button"><i class="fa fa-plus"></i></button>
    </div>
    {{ form_errors(form.quantity) }}
{% endblock %}

{% block _order_orderLines_entry_errors %}
{#{{ dump() }}#}
    {% if errors|length > 0 %}
        <div class="alert alert-danger">
            {% for error in errors %}
                <p>{{ error.message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger">
            {% for error in errors %}
                <p>{{ error.message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


