{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">User</a></li>
                <li class="breadcrumb-item active">Login</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <!-- Login Start -->
    <div class="login">
        <div class="container">
            <div class="section-header">
                <h3>User Registration & Login</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies. Nullam consequat, mauris non interdum cursus
                </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="login-form">
                    <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputEmail" >E-mail / Username</label>
                                <input  type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Last Name" required autofocus>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Last Name" required>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <label>
                                        <input type="checkbox" name="_remember_me">Keep me signed in
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                               <button class="btn btn-lg btn-primary" type="submit"> login</button>
                            </div>
                        </div>
                           
                    </form>
                    </div>
                </div>
                {{ include('registration/register.html.twig', {'registrationForm': registrationForm}) }}

            </div>
        </div>
    </div>


{% endblock %}
